.home-container,
.prop-container {
  max-width: 90%;
  margin: 0 auto;
  padding: 2rem;
}

.intro-section {
  text-align: center;
  margin-bottom: 3rem;
  padding: 2rem 1rem;
}

.intro-section h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: rgba(42, 115, 240, 0.682);
  text-shadow: 1px 1px 1px black;
}

.intro-text {
  font-size: 1.2rem;
  opacity: 0.8;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.6;
}
